<!DOCTYPE html>
<html>
<head>
    <title>Recharge</title>
</head>
<body>

    <h2>STB Recharge</h2>

    <form action="/rec" method="POST">
        <input
            type="text"
            name="stbNumber"
            placeholder="Enter STB Number"
            required
        >

        <button type="submit">
            Recharge
        </button>
    </form>

</body>
</html>